body{
    margin: 0;
    background-color: azure;
}

#front-image{
    min-width: 1200px;
    margin:50px 0 0 0;
}

.row{
    width: auto;
    min-width: 1100px;
    height: 150px;
    text-align: center;
    margin-bottom: 300px;
}

.pic{
    display: inline-block;
    width: 300px;
    height: 375px;
    background-color: #c8fcff;
    border-radius: 15px;
    text-align: left;
    padding: 10px 25px 15px 25px;
    margin: 0 30px;
    box-shadow: 2px 2px 2px #888888;
}

.pic h3{
    color: black;
    margin: 10px 5px 10px 0;
}

.pic a{
    text-decoration: none;
}

.pic p{
    color: black;
    margin: 10px 5px 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.pic:hover{
    transform: translate(-1%, -1%);
}

.last{
    float: end;
}

.pic img{
    display: inline-block;
    height:250px;
    width: 250px;
    border-radius: 15px;
}
