body {
    background-color: rgb(249, 249, 249);
}

h1 {
    color: black;
}

#formTable {
    color: black;
    background: rgb(255, 255, 255);
    border: 1px rgb(222, 222, 222) solid;
}

#formTable input {
    border: 1px rgb(222, 222, 222) solid;
}

p {
    color: #888888;
}

a {
    color: rgb(24, 51, 229);
}

footer p {
    color: #888888;
}